body{
    /*background-image: url("/imagenes/cup-of-coffee-1280537_1280.jpg");*/
    background-size: cover; 
    
}

.header{
    background-color: red;
    height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contenedortl{
background-color: 0;
width: 50%;
height: 80px;
float: left;
}

.logo{
    background-image: url("/imagenes/logo.jpeg");
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-right: auto;
    
}
.TituloPrincipal{
    background-color: 0;
    color: black;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    width: 100%;
    margin-right: auto;
}
.main{
    background-color: green;
    height: 800px;
    
}

/* 
.cont{
    width: 70%;
    margin-left: 200px;
    background-color: red;
    padding: 5px;
    text-align: justify;
    border-radius: 20px;
    margin-top: 300px;
}
*/
nav{
    background-color: 0;
    float: right;
    margin-top: 25px;
    margin-right: 68px;
}
ul{
    background-color: 0;
    
}
li{
    background-color: 0;
    margin-top: 5px;
    display: inline;
}
a{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin-right: 8px;
}
.header{
    height: 500px;
    background: url("/imagenes/hand-3044387_1280.jpg");
    background-size: cover;
}

